body {
  padding-top: 5rem;
}
.title {
  padding: 3rem 1.5rem;
  text-align: center;
  color: burlywood;
}
.col-sm {
  text-align: center;
}
.row {
  background-color: white;
}
h1 {
  text-align: center;
}
p {
  text-align: center;
    font-weight: bold;
}
img {
  max-width: 100%;
  height: auto;
}
